<!DOCTYPE html>
<html lang="no"><head>
  <meta charset="UTF-8">
  <title>EBIB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/jquery-ui-1.10.3.custom.min.css" />
  <script src="/js/jquery-1.9.1.min.js"></script>   
<script src="/stars/jquery.MetaData.js"></script>
<script src="/stars/jquery.rating.pack.js"></script>
<link href="/stars/jquery.rating.css" rel="stylesheet">
  <script src="/js/jquery.dotdotdot-1.5.7-packed.js"></script>
<script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
<link href="http://reader.digitalt.org/img/favicon.ico" rel="icon" type="image/x-icon" />  
     <script src="http://reader.digitalt.org/js/jquery.bxslider.js"></script>
   <link href="http://reader.digitalt.org/css/jquery.bxslider.css" rel="stylesheet" />
   
<!--  <script src="/js/jquery.bxslider.min.js"></script>
  <link href="/css/jquery.bxslider.css" rel="stylesheet" /> -->
  
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/lawnchair.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link href="http://reader.digitalt.org/css/style.css" rel="stylesheet" />
  <script type="text/javascript" src="//use.typekit.net/lrk7anq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script>

   jQuery(document).ready(function () {
     jQuery('.bxslider').bxSlider({
       minSlides: 8,
       maxSlides: 8,
       slideWidth: 146,
       slideMargin: 0
     });
     jQuery('.ellipsis').dotdotdot();
     
     $('#frontpage_sort').sortable({
		update: function(event, ui) {
			var frontpage_order = $(this).sortable('toArray').toString();
			$.get('/lists/order', { frontpage_order: frontpage_order });
		}
	});
    $( "#frontpage_sort" ).disableSelection();

     
   });

window.addEventListener('resize', resizeDelayed, false);
window.addEventListener('orientationChanged', resizeEvent, false);
var resizeclean=1;
function resizeDelayed(e) {
 if (resizeclean) {
   resizeclean=0;
   setTimeout(function() { resizeEvent(e)}, 2000);
 }
}
function resizeEvent(e) {
 jQuery('.ellipsis').dotdotdot()
 resizeclean=1;
}

  </script>
<style type="text/css">

/* a {color:#c12121;}
a:hover {color:#900;} */
#frontpage_sort { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#frontpage_sort li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#frontpage_sort li span { position: absolute; margin-left: -1.3em; }
</style>

<!-- <link rel="stylesheet" href="[% request.uri_base %]/css/style.css" /> -->
[% library.detail_head %]

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-beb289ee-59c0-ab4c-3b99-ec5cf86755a0", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body id="portal">
<div class="header-wrapper">
<div class="container-fluid header-container">

[% IF session.logged_in_user %]

    <!-- BRANDING, SØK OG TOPPNAVIGERING
    ************************************* -->

    <div class="container-fluid header-container">
    <div class="row-fluid">
    <div class="span12">
    <header>
	    <nav>
		    <div class="navbar navbar-inverse">
			    <div class="navbar-inner">
				    <a class="brand" href="/"><i class="icon-home"></i> <span class="hidden-phone library-name">[% session.chosen_library_name %]</span></a>
				        <form class="navbar-search pull-left" style="margin-top:5px;" action="/search" method="GET">
							<input type="text" class="search-query" name="q" placeholder="Tittel / Forfatter / ISBN">
    					</form>
				    <ul class="nav pull-right">
				    <li><a href="http://reader.digitalt.org/"><i class='icon-book'></i></a></li>
				    <li><a href="/log/out" src="" data="Log out"><i class="icon-signout"></i></a></li>
				 <!--   <li><a href="" src="" data="Kontakt"><i class="icon-envelope-alt"></i></a></li> -->
				 <!--   <li><a href="" src="" data="Hjelp"><i class="icon-question-sign"></i></a></li> -->
				    </ul>
			    </div>
		    </div>
	    </nav>

    </header>
    </div>
    </div>
    </div> <!-- end container -->

<!-- SJANGER OG LISTER
*************************************
   
    [% IF vars.hide_dropdowns != 1 %]


    <div class="container hidden-phone">
    <div class="row add-top">
	    <div class="span4">
	    <div class="dropdown">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="width:93%;text-align:left;"><span class="caret pull-right"></span>Genre</a>
	    <ul class="dropdown-menu">
	        [% FOREACH list IN vars.lists %]
	            [% IF list.is_genre == 1 %]
        		    <li><a href="/list/[% list.id %]">[% list.name %]</a></li>
    		    [% END %]
		    [% END %]
	    </ul>
        </div>
	    </div>

	    <div class="span4">
	    <div class="dropdown">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="width:93%;text-align:left;"><span class="caret pull-right"></span>Lists</a>
	    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	        [% FOREACH list IN vars.lists %]
	            [% IF list.is_genre == 0 %]
        		    <li><a href="/list/[% list.id %]">[% list.name %]</a></li>
    		    [% END %]
		    [% END %]
	    </ul>
	    </div>
	    </div>

	    <div class="span4">
	        <form method="GET" action="/search" class="navbar-search pull-left" style="width:100%;">
	    <input type="text" name="q" id="q" value="[% params.q | html_entity %]" class="search-query" placeholder="Søk" style="width:90%">
	    </form>
	    </div>
    </div>
    </div> 
    [% END %]
-->

[% ELSE %]

<!-- BRANDING, SØK OG TOPPNAVIGERING
************************************* -->

    <div class="container-fluid header-container">
    <div class="row-fluid">
    <div class="span12">
    <header>
	    <nav>
		    <div class="navbar navbar-inverse">
			    <div class="navbar-inner">
				    <a class="brand" href="/"><i class="icon-home"></i> <span class="hidden-phone library-name">[% session.chosen_library_name %]</span></a>
				        <form class="navbar-search pull-left" style="margin-top:5px;" action="/search" method="GET">
							<input type="text" class="search-query" name="q" placeholder="Tittel / Forfatter / ISBN">
    					</form>
				    <ul class="nav pull-right">
				    	<li class="logged-out-info hidden-phone">Du er ikke logget inn. <a href="/index.php">Logg inn</a> eller finn ut mer <a href="">om eBib</a>.</li>
				 <!--   <li><a href="" src="" data="Kontakt"><i class="icon-envelope-alt"></i></a></li> -->
				 <!--   <li><a href="" src="" data="Hjelp"><i class="icon-question-sign"></i></a></li> -->
				    </ul>
			    </div>
		    </div>
	    </nav>

    </header>
    </div>
    </div>
    </div> <!-- end container -->


 
[% END %]

</div> <!-- end container-fluid header-container -->
</div> <!-- end header-wrapper -->

[% IF flash.error %]
    <div class="flash error">[% flash.error %]</div>
[% END %]
[% IF flash.info %]
    <div class="flash info">[% flash.info %]</div>
[% END %]

[% content %]

<!-- FOOTER
************************************* -->

<section id="footer">
<div class="footer-wrapper">
<div class="container">
	<div class="row">
		<div class="span12 center">
			<p class="genre-title" style="padding:80px 0 60px;color:#fff;text-shadow:none;">
				<img src="http://reader.digitalt.org/img/ebib-logo-neg.png" style="padding-bottom:4px;" /><br />
				<span style="font-family:'brandon-grotesque';font-size:17px;font-weight:300;">eBib
			</p>		
		</div>
	</div>
</div>
</div>
</section>

</body>
</html>
