<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>[% IF template.pagetitle %][% template.pagetitle %] > [% END %][% vars.appname %]</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />
</head>
<body>

<div class="userbar">
[% IF session.logged_in_user %]
    Hiya, <a href="/my">[% session.user.name %]</a>! 
        [% FOREACH role IN session.roles %]
            [% IF role == 'admin' %]
                <a href="/admin">admin</a>
            [% ELSIF role == 'superadmin' %]
                <a href="/superadmin">superadmin</a>
            [% ELSE %]
                nope
            [% END %]
        [% END %]
    <a href="/log/out">Log out</a>
[% ELSE %]
    <a href="/log/in">Log in</a>
[% END %]
</div>

<h1>[% IF template.pagetitle %][% template.pagetitle %][% ELSE %][% vars.appname %][% END %]</h1>

[% IF flash.error %]
    <div class="flash error">[% flash.error %]</div>
[% END %]
[% IF flash.info %]
    <div class="flash info">[% flash.info %]</div>
[% END %]

[% content %]

<div id="footer">
<p>Powered by <a href="http://perldancer.org/">Dancer</a> [% dancer_version %]</p>
</div>

</body>
</html>
