<!DOCTYPE html>
<html lang="no"><head>
  <meta charset="UTF-8">
  <title>EBIB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/jquery-1.9.1.min.js"></script>   
<script src="/stars/jquery.MetaData.js"></script>
<script src="/stars/jquery.rating.pack.js"></script>
<link href="/stars/jquery.rating.css" rel="stylesheet">
  <script src="/js/jquery.dotdotdot-1.5.7-packed.js"></script>
<link href="http://reader.digitalt.org/img/favicon.ico" rel="icon" type="image/x-icon" />  
     <script src="http://reader.digitalt.org/js/jquery.bxslider.js"></script>
   <link href="http://reader.digitalt.org/css/jquery.bxslider.css" rel="stylesheet" />
   
<!--  <script src="/js/jquery.bxslider.min.js"></script>
  <link href="/css/jquery.bxslider.css" rel="stylesheet" /> -->
  
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/lawnchair.js"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link href="http://reader.digitalt.org/css/style.css" rel="stylesheet" />
  <script type="text/javascript" src="//use.typekit.net/lrk7anq.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script>
   jQuery(document).ready(function () {
     jQuery('.bxslider').bxSlider({
       minSlides: 8,
       maxSlides: 8,
       slideWidth: 146,
       slideMargin: 0
     });
     jQuery('.ellipsis').dotdotdot();
   });

window.addEventListener('resize', resizeDelayed, false);
window.addEventListener('orientationChanged', resizeEvent, false);
var resizeclean=1;
function resizeDelayed(e) {
 if (resizeclean) {
   resizeclean=0;
   setTimeout(function() { resizeEvent(e)}, 2000);
 }
}
function resizeEvent(e) {
 jQuery('.ellipsis').dotdotdot()
 resizeclean=1;
}

  </script>
<style type="text/css">

/* a {color:#c12121;}
a:hover {color:#900;} */

</style>

<!-- <link rel="stylesheet" href="[% request.uri_base %]/css/style.css" /> -->
[% library.detail_head %]

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-beb289ee-59c0-ab4c-3b99-ec5cf86755a0", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</head>

<!-- Ensure library defaults to lillevik; and enable the two-part login-field by setting 'chosen realm'. IOK 2013-05-31 -->

        [% SET chosen_realm='' %]
	[% IF session.chosen_library == 2 %]
	[% SET chosen_realm='lillevik' %]
	[% ELSIF session.chosen_library == 1 %]
	[% SET chosen_realm='storevik' %]
	[% END %]

[% IF chosen_realm == '' %]	
 <script>
 window.location = 'http://portal.digitalt.org/library/set/2?return_url=/';
 </script>
[% END %]


<body id="portal">
<div class="header-wrapper">
<div class="container-fluid header-container">

[% IF session.logged_in_user %]

    <!-- BRANDING OG TOPPNAVIGERING
    ************************************* -->

    <div class="container-fluid header-container">
    <div class="row-fluid">
    <div class="span12">
    <header>
<!-- SJANGER, LISTER OG SØK
************************************* -->

	    <nav>
		    <div class="navbar navbar-inverse">
			    <div class="navbar-inner">
				    <a class="brand" href="/"><i class="icon-home"></i> <span class="hidden-phone">[% session.chosen_library_name %]</span></a>
				        <form class="navbar-search pull-left" style="margin-top:5px;">
							<input type="text" class="search-query" placeholder="Søk">
    					</form>
				    <ul class="nav pull-right">
				    <li><a href="http://reader.digitalt.org/"><i class='icon-book'></i></a></li>
				    <li><a href="/log/out" src="" data="Log out"><i class="icon-signout"></i></a></li>
				 <!--   <li><a href="" src="" data="Kontakt"><i class="icon-envelope-alt"></i></a></li> -->
				 <!--   <li><a href="" src="" data="Hjelp"><i class="icon-question-sign"></i></a></li> -->
				    </ul>
			    </div>
		    </div>
	    </nav>

    </header>
    </div>
    </div>
    </div> <!-- end container -->

<!-- SJANGER, utlistingER OG SØK
*************************************
   
    [% IF vars.hide_dropdowns != 1 %]


    <div class="container hidden-phone">
    <div class="row add-top">
	    <div class="span4">
	    <div class="dropdown">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="width:93%;text-align:left;"><span class="caret pull-right"></span>Genre</a>
	    <ul class="dropdown-menu">
	        [% FOREACH list IN vars.lists %]
	            [% IF list.is_genre == 1 %]
        		    <li><a href="/list/[% list.id %]">[% list.name %]</a></li>
    		    [% END %]
		    [% END %]
	    </ul>
        </div>
	    </div>

	    <div class="span4">
	    <div class="dropdown">
	    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style="width:93%;text-align:left;"><span class="caret pull-right"></span>Lists</a>
	    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
	        [% FOREACH list IN vars.lists %]
	            [% IF list.is_genre == 0 %]
        		    <li><a href="/list/[% list.id %]">[% list.name %]</a></li>
    		    [% END %]
		    [% END %]
	    </ul>
	    </div>
	    </div>

	    <div class="span4">
	        <form method="GET" action="/search" class="navbar-search pull-left" style="width:100%;">
	    <input type="text" name="q" id="q" value="[% params.q | html_entity %]" class="search-query" placeholder="Søk" style="width:90%">
	    </form>
	    </div>
    </div>
    </div> 
    [% END %]
-->

[% ELSE %]

    <!-- LOGG INN BANNER
    ************************************* -->

    <div class="logginn-wrapper">
    <div class="container content-container">
    <div class="row">
	    <div class="span8">
	    <img src="http://reader.digitalt.org/img/ebib-logo2.png" class="pull-left" style="height:64px;width:64px;margin-right:10px;" />
		    <h1>Lån ebøker gratis!<!-- span style="font-size:34px;font-weight:300;opacity: 0.3;"> BETA</span --></h1>
		    <!-- <img src="img/laan-gratis-txt.png" /> -->
		    <p class="lead-list hidden-phone">
		    <i class="icon-ok" style="font-size:15px;"></i> Hundrevis av ebøker til din telefon, nettbrett og pc<br />
		    <i class="icon-ok" style="font-size:15px;"></i> Ny norsk litteratur fra ditt lokale bibliotek<br />
		    <i class="icon-ok" style="font-size:15px;"></i> Ingen purregebyr eller tunge turer til biblioteket<br />
		    </p>
        </div>
	
	    <div class="span3">
	    <form method='post' action="/log/in">
		 <input type=hidden name=realm value='[%chosen_realm%]' />
        	<div class="login-container">
        		<div class="login-row1">
        			<input class="span3" type="text" id='username' name='username' placeholder="Lånenummer">
        		</div>
        		<div class="login-row2">
        			<input class="span3" type="password" id='password' name='password' placeholder="PIN-kode">
        		</div>
        	</div>
        	
<!--    	
    	<div class="center half-top half-bottom">
    		<label class="checkbox" style="display:inline-block;">
    			<input type="checkbox" checked="checked"> Husk meg | <a class="glemt-pinkode" href="#">Glemt PIN?</a>
    		</label>
    	</div>
    	<button type="submit" class="btn btn-success btn-large btn-block half-top btn-login">Logg inn</button>
-->
    	<button type="submit" class="btn btn-success btn-login pull-right half-top" style="width:50%;">Logg inn</button>
    	<a class="glemt-pinkode half-top" href="#">Hjelp til<br />innloggingen?</a>

        </form>
        </div>
    </div>
    </div> <!-- end container -->
    </div> <!-- end logginn-wrapper -->

<!-- NY BRUKER? BANNER
************************************* -->

	[% IF !session.logged_in_user %]

	<div class="hanging-alert2" style="position:absolute;left:50%;margin-bottom:-33px;margin-left:-178px;">
		<a href="#"><strong>Ny Bruker?</strong> Dette trenger du for å låne <i class="icon-angle-right"></i></a>
	</div>

	[% END %]

 
[% END %]

</div> <!-- end container-fluid header-container -->
</div> <!-- end header-wrapper -->

[% IF flash.error %]
    <div class="flash error">[% flash.error %]</div>
[% END %]
[% IF flash.info %]
    <div class="flash info">[% flash.info %]</div>
[% END %]

[% content %]

<!-- FOOTER
************************************* -->

<section id="footer">
<div class="footer-wrapper">
<div class="container">
<div class="row">
<div class="span12">
	<p class="genre-title" style="padding:20px 0 150px;color:#fff;text-shadow:none;"><strong>eBib 2.0</strong> <span style="color:#999;font-weight:200;">Beta</span></p>
<div id=sessiondump style="color:#999">
[% USE Dumper %]
[% Dumper.dump(session) %]
</div>

	</div>
<!--
	<div class="span4">
		<ul>
		  <li><a href="#">Lenke 1</a></li>
		  <li><a href="#">Lenke 2</a></li>
		  <li><a href="#">Lenke 3</a></li>
		  <li><a href="#">Lenke 4</a></li>
		</ul>
	</div>
	<div class="span4">
		<ul>
		  <li><a href="#">Lenke 1</a></li>
		  <li><a href="#">Lenke 2</a></li>
		  <li><a href="#">Lenke 3</a></li>
		  <li><a href="#">Lenke 4</a></li>
		</ul>
	</div>
	<div class="span4">
		<ul>
		  <li><a href="#">Lenke 1</a></li>
		  <li><a href="#">Lenke 2</a></li>
		  <li><a href="#">Lenke 3</a></li>
		  <li><a href="#">Lenke 4</a></li>
		</ul>
	</div> -->
</div>
</div>
</div>
</section>

</body>
</html>
