[% META pagetitle = 'Admin' %]

<h2>Actions</h2>
<ul>
<li><a href="/books/add">Add a new book</a></li>
<li><a href="/creators/add">Add a new creator</a></li>
</ul>

<h2>Lists</h2>

<ul>
[% FOREACH list IN lists %]
<li><a href="/list/[% list.id %]">[% list.name %]</a> ([% list.books.size %])</li>
[% END %]
</ul>
