[% META pagetitle = 'Anonymize all loans' %]

<p>Are you sure you want to anonymize all your loans? This operation can not be undone.</p>

<p>
<a href="/anon_all_ok"><img src="/images/tick.png" height="16" width="16" alt="Yes" title="Yes"> Yes</a> or 
<a href="/my"><img src="/images/cancel.png" height="16" width="16" alt="No" title="No"> No</a>
</p>
