<div class="container content-container" style="text-align: center; padding: 10em;">
<p>Du har forsøkt å logge inn for mange ganger og din konto har blitt sperret. Du vil motta en epost fra eBib.no. Klikk på lenken i eposten for å låse opp sperringen.</p>
<p>Kontakt ditt lokale bibliotek dersom du er usikker på om du har korrekt lånenummer eller pinkode.</p>
<p>Dersom du ikke raskt mottar epost fra eBib, sjekk mappen for søppelepost (spam).</p>
</div>
