[% META pagetitle = 'Detail page' %]

<h2>[% book.title %]</h2> 

<p>av:</p>

<ul>
[% FOREACH creator IN book.creators %]
<li><a href="/creator/[% creator.id %]">[% creator.name %]</a></li>
[% END %]
</ul>

<p>Første gang utgitt [% book.date %]</p>
