[% META pagetitle = 'Book page' %]

<h2>[% book.title %]</h2> 

<p>by:</p>

<ul>
[% FOREACH creator IN book.creators %]
<li><a href="/creator/[% creator.id %]">[% creator.name %]</a></li>
[% END %]
</ul>

<p>Published [% book.date %].</p>

[% IF book.isbn %]
<p>ISBN: [% book.isbn %].</p>
[% END %]
