[% META pagetitle = 'Confirm deletion of consortium' %]

<div class="container">

<p>Are you sure you want to delete the <em>[% consortium.name %]</em> consortium?</p>

<p>
    <a href="/consortia/delete_ok/[% consortium.id %]?[% INCLUDE 'csrf_link.tt' %]"><img src="/images/tick.png" height="16" width="16" alt="Yes" title="Yes"> Yes</a> or 
    <a href="/superadmin"><img src="/images/cancel.png" height="16" width="16" alt="No" title="No"> No</a>
</p>

</div>
