<fieldset>
<legend>Basic info</legend>
<label for="name">Name:</label>
<input type="text" name="name" id="name" value="[% params.name %][% creator.name %]" required/>
[% IF creator.id %]
<input type="hidden" name="id" id="id" value="[% creator.id %]"/>
[% END %]
</fieldset>
<input type="submit" id="save" value="Save" />
