[% META pagetitle = 'Creator page' %]

<h2>[% creator.name %]</h2> 

[% IF creator.books.size %]
<p>Creator of:</p>
[% INCLUDE 'books_table.tt' books=creator.books %]
[% END %]

[%# Display admin links if the user has the right role %]
[% FOREACH role IN session.logged_in_user_roles %]
    [% IF role == 'admin' %]
<div class="adminactions">
<p>Admin actions</p>
<p>
    <a href="/creators/edit/[% creator.id %]" title="Edit this creaor">Edit</a>
</p>
</div>
    [% END %]
[% END %]
