<fieldset>
<legend>Library details</legend>
<label for="name">Name:</label>
<input type="text" name="name" id="name" value="[% name %][% library.name %]" required/>
[% IF library.id %]
<input type="hidden" name="id" id="id" value="[% library.id %]"/>
[% END %]
<br />
<input type="submit" id="save" value="Save" />
</fieldset>
