[% META pagetitle = 'Lists' %]

<ul>
[% FOREACH library IN user.libraries %]
<li>[% library.name %]</a>
    <ul>
    [% FOREACH list IN library.lists %]
    <li><a href="/list/[% list.id %]">[% list.name %]</a></li>
    [% END %]
    </ul>
</li>
[% END %]
</ul>
