[% META pagetitle = 'Genres &amp; lists' %]

[% IF genres.size %]
    <h2>[% l('Genres') %]</h2>
    <ul>
    [% FOREACH genre IN genres %]
        <li><a href="/list/[% genre.id %]">[% genre.name %]</a></li>
    [% END %]
    </ul>
[% END %]

[% IF lists.size %]
    <h2>[% l('Lists') %]</h2>
    <ul>
    [% FOREACH list IN lists %]
        <li><a href="/list/[% list.id %]">[% list.name %]</a></li>
    [% END %]
    </ul>
[% END %]
