[% META pagetitle = 'List contents' %]

<h2>[% list.name %]</h2>

[% IF list.books.size %]
    [% INCLUDE 'books_table.tt' books=list.books %]
[% ELSE %]
    <p>Sorry, there are not title in this list yet.</p>
[% END %]
