<div class="container">

<h1>[% l('More than one active session') %]</h1>

<p>[% l('It looks like you have more than one active session. If you have logged in from more than one browser at the same time, this is probably OK, and you can proceed to use the site as normal') %].</p>

<p><a href="/">[% l('Go to the front page') %]</a></p>

</div>
