<div class="container">

<h2>Users with failed logins</h2>

<table>
<tr>
    <th>Failed logins</th>
    <th>Name</th>
    <th>Username</th>
    <th>Libraries</th>
</tr>
[% FOREACH user IN failed %]
<tr>
    <td>[% user.failed %]</td>
    <td>[% user.name %]</td>
    <td>[% user.username %]</td>
    <td>
        [% FOREACH library IN user.libraries %]
            [% library.name %],
        [% END %]
    </td>
</tr>
[% END %]
</table>

</div>
