<label for="password1">Password:</label>
<input type="password" name="password1" id="password1" pattern=".{[% vars.min_pass %],}" title="[% vars.min_pass %] characters minimum" required/> (Minimum length: [% vars.min_pass %].)
<br />
<label for="password2">Repeat password:</label>
<input type="password" name="password2" id="password2" pattern=".{[% vars.min_pass %],}" title="[% vars.min_pass %] characters minimum" required/>
