[% META pagetitle = 'Confirm deletion of user' %]

<p>Are you sure you want to delete the user called <em>[% user.name %]</em>?</p>

<p>(This will automatically remove any roles the user has and delete any connections to libraries.)</p>

<p>
    <a href="/users/delete_ok/[% user.id %]"><img src="/images/tick.png" height="16" width="16" alt="Yes" title="Yes"> Yes</a> or 
    <a href="/superadmin"><img src="/images/cancel.png" height="16" width="16" alt="No" title="No"> No</a>
</p>
