[% META pagetitle = 'Change password' %]

<form method="POST" action="/users/password">
<fieldset>
<legend>Login info</legend>
[% INCLUDE 'users_passwordfields.tt' %]
</fieldset>
<input type="hidden" name="id" id="id" value="[% params.id %]" />
<input type="submit" id="save" value="Save" />
</form>
